.audiofigure {
  text-align: center;
  padding: 1em 0;
  margin: 0;
}
.figcaption {
  padding: 1em 0;
}
.btn {
  border: none;
  background: transparent;
}
.audioPlayer {
  display: grid;
  justify-items: center;
  padding-top: 2em;
}
.audioPlayer .duration {
  color: lime;
  width: 80%;
}
