.newform {
  display: grid;
  padding: 0.5em;
  margin: 1em;
}
.newform input {
  border: none;
  border-radius: 0.4em;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}
input.submitBtn {
  background: var(--info-background);
  border: none;
  border-radius: 1.5em;
  color: black;
  margin-top: 2em;
  padding: 10px;
  transition: 0.3s;
}
input.submitBtn:hover {
  color: white;
  background: #000;
  transition: 0.3s;
}
.heading {
  margin: 1em;
}
