.img__album {
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
.track {
  background-color: #00000040;
  border-radius: 8px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  margin: -0.5em 0.7em 1em;
  padding: 0.5rem;
  transition: 0.6s;
}
.track:hover {
  background: rgb(35 14 13 / 68%);

  /* background: linear-gradient(
    -90deg,
    rgb(40, 44, 51) 0%,
    rgba(93, 113, 140, 1) 100%
  ); */
  transition: 0.6s;
  cursor: pointer;
}
.track:active {
  background: rgb(44, 46, 48);
}
.track__artist,
.track__title {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.track__artist {
  color: #b8b8b8;
  font-size: 0.8em;
}
.track__title {
  color: #fff;
  font-size: 0.9em;
}
.track__listtext {
  list-style: none;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 18px;
  margin-top: 12px;
  margin-bottom: 13px;
}
.trackpagetitle {
  color: lime;
}
